body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
}

#boards-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    gap: 40px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

#boards-container > div{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#board1, #board2{
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 100%;
    width: clamp(300px, 40vmin, 1200px);
    height: clamp(300px, 40vmin, 1200px);
}


#board1 div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#board2 div:hover{
    background-color: rgb(129, 126, 126);
    cursor: pointer;
}

#msg-board{
    width: clamp(200px, 60vmin, 550px);
    height: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(20px, 4vmin, 550px);
}

.invisible{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: bisque;
    background-clip: padding-box; 
}

  